[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
serializer = "*"
flask-bcrypt = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
flask-serializer = "*"
faker = "*"
werkzeug = "*"
python-dotenv = "*"
flask-migrate = "*"
sqlalchemy-serializer = "*"

[dev-packages]

[requires]
python_version = "3.8"
