@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

html, body {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Madimi One', sans-serif;
}

.primary-button {
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    background: linear-gradient(45deg, #343A40, #7952B3 );
    padding: 12px 30px;
    border-radius: 30px;
    border: none;
}

.primary-button:hover {
    background: linear-gradient(260deg, #E1E8EB, #7952B3)
}

.secondary-button {
    color: rgb(121, 119, 119);
    background-color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    padding: 12px 30px;
    border-radius: 30px;
    border: solid 2px rgb(121, 119, 119);
    margin: 6px;
}

.secondary-button:hover {
    color: rgb(48, 48, 48);
    border: solid 2px rgb(48, 48, 48);
}

body {
    text-align: center;
}

/* ---- NavBar ---- */
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.nav-button {
    color: #E8E2E2;
    background-color: black;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin: 10px;

}

nav .nav-button:disabled {
    background-color: #343A40;
    color: #E1E8EB
}




/* --- HOME PAGE --- */
.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: linear-gradient(to bottom, #FFC107,#E1E8EB)
}


/* --- Auth Page --- */
.auth-page{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 210px; 
    left: 50%;
    transform: translateX(-50%);
    max-width: 500px;
    height: 400px; 
    background-color: #fff;
    border-radius: 10px;
    padding: 100px;
    overflow: scroll; 
}


.auth-page .close-icon {
    float:right;
}
.auth-page form {
    display: flex;
    flex-direction: column;
}

.auth-page input[type=password],
.auth-page input[type=email] {
    padding: 8px;
    margin: 8px;
    font-size: 17px;
}


/* --- TRAIN AUTH PAGE --- */
.train-auth-page{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 210px; 
    left: 50%;
    transform: translateX(-50%);
    max-width: 500px;
    height: 400px; 
    background-color: #fff;
    border-radius: 10px;
    padding: 100px;
    overflow: scroll; 
}

.train-auth-page .train-close-icon {
    float:right;
}

.train-auth-page form {
    display: flex;
    flex-direction: column;
}

.train-auth-page input[type=password],
.train-auth-page input[type=email] {
    padding: 8px;
    margin: 8px;
    font-size: 17px;
}


/* --- LOG PAGE --- */
.log-page {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 210px; 
    left: 50%;
    transform: translateX(-50%);
    max-width: 500px;
    height: 400px; 
    background-color: #fff;
    border-radius: 10px;
    padding: 100px;
    overflow: scroll; 
}

/* --- DASHBOARD --- */
.dashboard{
    display: flex;
    justify-content: space-between;
    overflow-x: hidden; 

}


.dashboard .swipe-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #FFC107,#E1E8EB);
    overflow-x: hidden; 
}

.swipe {
    position: absolute;
  }

  .dashboard .card-container {
    width: 400px;
    height: 650px;
    
  }
  
  .card-container {
    width: 90vw;
    max-width: 260px;
    height: 300px;
  }
  
  .card {
    background-color: #fff;
    width: 350px;
    height: 600px;
    box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30);
    border-radius: 30px;
    background-size: cover;
    background-position: center;
  }
  

  
  .card h3 {
    margin-top: 0;
    color: #FFC107 ;
    font-size: 1.5em;
  }

  .dashboard .swipe-info {
    position: absolute;
    bottom: 0;
    padding: 50px;
  }

  /*-------- Chat Container --------*/
.chat-container {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    width: 30%;
    text-align: left;
    z-index: 1;
}

.chat-container .chat-container-header {
    background: linear-gradient(45deg, #7952B3, #343A40);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-container .option {
    border: none;
    background-color: rgb(255, 255, 255);
    border-bottom: solid 4px #7952B3;
    font-size: 20px;
    margin: 2px;
    padding: 10px;
}

.chat-container .option:disabled {
    border-bottom: solid 4px rgb(187, 187, 187);
}

.chat-container .profile,
.chat-container .log-out-icon {
    display: flex;
    align-items: center;
    padding: 20px;
    color: rgb(255, 255, 255);
}

.img-container {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    overflow: hidden;
    margin: 10px;
}

.img-container img {
    width: 100%;
}

/*-------- Chat Display --------*/
.chat-display,
.matches-display {
    padding: 20px;
    height: 60vh;
    overflow-y: auto;
}

/*-------- Chat Input --------*/
.chat-input {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

/* --- Instructions Page --- */
.instructions-page{
    background-color: #fff;
    width: 350px;
    height: 600px;
    box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30);
    border-radius: 30px;
    background-size: cover;
    background-position: center;
}

/*-------- Profile Page --------*/
.profile-nav {
    background: linear-gradient(to bottom, #E1E8EB,#FFC107);
}

.profile-nav button {
    color: #E8E2E2;
    background-color: black;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin: 10px;
}

.profile-page {
    /* display: flex;
    border-top: solid 1px rgb(213, 213, 213);
    margin-top: 50px;
    background: linear-gradient(to bottom, #FFC107,#E1E8EB); */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #FFC107,#E1E8EB);
    overflow-x: hidden; 
   

}

.profile-page form {
    display: flex;
    justify-content: center;
}

.profile-pageform section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 35%;
    text-align: start;
}

.profile-page form input {
    padding: 15px 30px;
    margin: 10px 0;
    font-size: 15px;
    border: solid 2px rgb(219, 219, 219);
    border-radius: 10px;
}

.profile-page form label {
    margin: 10px 0;
}

.profile-page form .multiple-input-container {
    display: flex;
    flex-direction: row;
}

.profile-page form input::-webkit-outer-spin-button,
.profile-page form input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.profile-page form .multiple-input-container input {
    margin-right: 10px;
}

.profile-page form .multiple-input-container label {
    padding: 12px;
    border-radius: 10px;
    transition: all 0.3s;
    margin-right: 10px;
    margin-left: 150px;
    
}

.profile-page form input[type=radio] {
    display: none;
}

.profile-page form input[type=number] {
    width: 10%;
}

.profile-page form input[type=radio]:checked + label {
    border: solid 2px rgb(221, 39, 22);
}

.profile-page form input[type=submit]:hover {
    background-color: rgb(235, 235, 235);
}

.profile-page form input[type=submit]:active {
    background-color: rgb(226, 115, 115);
}

.profile-page form .photo-container img {
    width: 100%;
}

