@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html, body {
    margin: 0;
    padding: 0;
}

* {
    /* font-family: 'Madimi One', sans-serif; */
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.primary-button {
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    background: linear-gradient(45deg, #343A40, #7952B3 );
    padding: 12px 30px;
    border-radius: 30px;
    border: none;
}

.primary-button:hover {
    background: linear-gradient(260deg, #E1E8EB, #7952B3)
}

.secondary-button {
    color: rgb(121, 119, 119);
    background-color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    padding: 12px 30px;
    border-radius: 30px;
    border: solid 2px rgb(121, 119, 119);
    margin: 6px;
}

.secondary-button:hover {
    color: rgb(48, 48, 48);
    border: solid 2px rgb(48, 48, 48);
}

body {
    text-align: center;
}

/* ---- NavBar ---- */
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.nav-button {
    color: #E1E8EB;
    background-color: #343A40;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin: 5px;
    height: 3em;
    margin-top: 1em;

}

nav .nav-button:disabled {
    background-color: #343A40;
    color: #E1E8EB
}

nav .logo-container h1 {
    font-size: 30px;
}




/* --- HOME PAGE --- */
.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: linear-gradient(to bottom, #FFC107,#E1E8EB);
    background-image: url('https://cdn1.epicgames.com/ue/product/Screenshot/3-1920x1080-1f3fb5d9f1103d90deb3fe359e9f9e0b-1920x1080-1f3fb5d9f1103d90deb3fe359e9f9e0b.jpg?resize=1&w=1920');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #E1E8EB;
}

.home {
    top: 25%; 
    position: absolute;
    transform: translate(0, -50%);
    left: 50%;
    transform: translate(-50%,0) ;
}


/* --- Auth Page --- */
.auth-page{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    height: 400px; 
    background-color: #E1E8EB;
    border-radius: 10px;
    padding: 100px;
    overflow: scroll; 

    top: 25%; 
    position: absolute;
    transform: translate(0, -50%);
    left: 50%;
    transform: translate(-50%,0) ;
    color:#343A40}


.auth-page .close-icon {
    float:right;
}
.auth-page form {
    display: flex;
    flex-direction: column;
}

.auth-page input[type=password],
.auth-page input[type=email] {
    padding: 8px;
    margin: 8px;
    font-size: 17px;
}


/* --- TRAIN AUTH PAGE --- */
.train-auth-page{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    height: 400px; 
    background-color: #E1E8EB;
    border-radius: 10px;
    padding: 100px;
    overflow: scroll; 

    top: 25%; 
    position: absolute;
    transform: translate(0, -50%);
    left: 50%;
    transform: translate(-50%,0);
    color:#343A40;
}

.train-auth-page .train-close-icon {
    float:right;
}

.train-auth-page form {
    display: flex;
    flex-direction: column;
}

.train-auth-page input[type=password],
.train-auth-page input[type=email] {
    padding: 8px;
    margin: 8px;
    font-size: 17px;
}


/* --- LOG PAGE --- */
.log-page {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    height: 400px; 
    background-color: #E1E8EB;
    border-radius: 10px;
    padding: 100px;
    overflow: scroll; 

    top: 25%; 
    position: absolute;
    transform: translate(0, -50%);
    left: 50%;
    transform: translate(-50%,0) ;
    color:#343A40
}

/* --- DASHBOARD --- */


.dashboard{
    display: flex;
    justify-content: space-between;
    overflow-x: hidden; 

}


.dashboard .swipe-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #FFC107,#E1E8EB);
    background-image: url('https://images.unsplash.com/photo-1527049979667-990f1d0d8e7f?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8YmxhY2slMjByb2NrfGVufDB8fDB8fHww');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden; 
}

.swipe {
    position: absolute;
  }

  .dashboard .card-container {
    width: 400px;
    height: 650px;
    
  }
  
  .card-container {
    width: 90vw;
    max-width: 260px;
    height: 300px;
  }
  
  .card {
    background-color: #fff;
    width: 350px;
    height: 600px;
    box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30);
    border-radius: 30px;
    background-size: cover;
    background-position: center;
  }
  

  
  .card h3 {
    margin-top: 0;
    color: #E1E8EB ;
    font-size: 1.5em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }

  .dashboard .swipe-info {
    position: absolute;
    bottom: 0;
    padding: 50px;
  }

  .click-left {
    position:relative;
    right: 310px; 
    top: 350px;
    font-size: 40px;
}
  
.click-right {
    position: relative;
    left: 370px; 
    bottom: 310px;
    font-size: 40px;
}

  /*-------- Chat Container --------*/
.chat-container {
    /* background-color: #343A40; */
    /* background-image: url('https://i.pinimg.com/474x/28/e7/ce/28e7cee8096f263938261641038f1fd1.jpg'); */
    background: linear-gradient(250deg, #1a1a1a, #464e55);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    width: 30%;
    text-align: left;
    z-index: 1;
    color: #E1E8EB;
}

.chat-container .chat-container-header {
    background: linear-gradient(250deg, #2c174b, #303030);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-container .option {
    border: none;
    background-color: #E1E8EB ;
    border-bottom: solid 4px #FFC107;
    font-size: 20px;
    margin: 2px;
    padding: 10px;
}

.chat-container .option:disabled {
    border-bottom: solid 4px rgb(187, 187, 187);
}

.chat-container .profile,
.chat-container .log-out-icon {
    display: flex;
    align-items: center;
    padding: 5px;
    color: rgb(255, 255, 255);

}


.img-container {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    overflow: hidden;
    margin: 10px;
}

.img-container img {
    width: 100%;
}

.info-modal {
    position: absolute;
    /* margin-left:10%; */
    top: 210px; 
    left: 10%;
    /* transform: translateX(-50%); */
    max-width: 500px;
    height: 400px; 
    background-color: #E1E8EB;
    border-radius: 10px;
    padding: 100px;
    overflow: scroll; 

}

/*-------- Chat Display --------*/
.chat-display,
.matches-display {
    padding: 20px;
    height: 60vh;
    overflow-y: auto;
}

/*-------- Chat Input --------*/
.chat-input {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

/* --- Instructions Page --- */
.instructions-page{
    background-color: #fff;
    width: 350px;
    height: 600px;
    box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30);
    border-radius: 30px;
    background-size: cover;
    background-position: center;
}

/*-------- Profile Page --------*/
.profile-nav {
    background: linear-gradient(to bottom, #2c174b,#464e55);
    color: #FFC107;
}

.profile-nav button {
    color: #FFC107;
    background-color: black;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin: 10px;
}

.profile-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom,#464e55 ,#1a1a1a);
    overflow-x: hidden; 
    color: #E1E8EB;
   

}

.profile-page form {
    display: flex;
    justify-content: center;
}

.profile-pageform section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 35%;
    text-align: start;
}

.profile-page form input {
    padding: 15px 30px;
    margin: 10px 0;
    font-size: 15px;
    border: solid 2px rgb(219, 219, 219);
    border-radius: 10px;
}

.profile-page form label {
    margin: 10px 0;
}

.profile-page form .multiple-input-container {
    display: flex;
    flex-direction: row;
}

.profile-page form input::-webkit-outer-spin-button,
.profile-page form input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.profile-page form .multiple-input-container input {
    margin-right: 10px;
}

.profile-page form .multiple-input-container label {
    padding: 12px;
    border-radius: 10px;
    transition: all 0.3s;
    margin-right: 10px;
    margin-left: 150px;
    
}

.profile-page form input[type=radio] {
    display: none;
}

.profile-page form input[type=number] {
    width: 10%;
}

.profile-page form input[type=radio]:checked + label {
    border: solid 2px rgb(221, 39, 22);
}

.profile-page form input[type=submit]:hover {
    background-color: rgb(235, 235, 235);
}

.profile-page form input[type=submit]:active {
    background-color: rgb(226, 115, 115);
}

.profile-page form .photo-container img {
    width: 100%;
}

